SUPABASE_URL=https://sismslxpgtsgssosveth.supabase.co
SUPABASE_KEY=sb_publishable_Jw8bZs_ktIS3BTQlw3OjKA_FP7eS3Iw

NODE_ENV=production
PORT=3000

LOG_LEVEL=info
IMAP_DEBUG=false

ACCOUNT_START_DELAY=1000
MAX_RECONNECT_ATTEMPTS=10
RECONNECT_DELAY=5000
IMAP_SOCKET_TIMEOUT=60000

ALLOWED_DOMAINS=facebook.com,facebookmail.com,google.com,instagram.com,tiktok.com

DATA_RETENTION_DAYS=30

TZ=Africa/Maputo